# Have git ignore everything in this directory except this
# .gitignore file; the empty output directory commit is
# needed to prevent runtime errors from occurring when 
# attempting to write output files to an output directory
# that does not exist
*
!.gitignore
