# cmake files
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
Testing

# executables
burgers
burgers_parallel
euler
euler_parallel
shallowwater
shallowwater_parallel

# doxygen directory
doxygen

# backup files and symbolic links
*.bak
*.cc
*.h
!main.cc
