# NOTE: .gitignore should NOT be modified; modify .gitignorebase instead.
#
# The file .gitignorebase is used as a base for the actual .gitignore file;
# whenever the ./bin/make_symlinks script is run to create symbolic links,
# the .gitignorebase file is copied to .gitignore and then symbolic links
# are appended afterward. For this reason, .gitignorebase should be the
# file to modify if any additional files need to be added to the list.

# cmake files
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
Testing

# executables
burgers
burgers_parallel
euler
euler_parallel
shallowwater
shallowwater_parallel
transport
transport_parallel

# doxygen directory
doxygen

# backup files
*.bak

# additional files added below
ArtificialDiffusion.cc
ArtificialDiffusion.h
BoundaryConditions.cc
BoundaryConditions.h
Burgers.cc
Burgers.h
BurgersMaxWaveSpeed.cc
BurgersMaxWaveSpeed.h
BurgersProblemParameters.cc
BurgersProblemParameters.h
BurgersRunParameters.cc
BurgersRunParameters.h
CMakeVars.h
CMakeVars.h.h
ConservationLaw.cc
ConservationLaw.h
ConstantMaxWaveSpeed.cc
ConstantMaxWaveSpeed.h
ConstantViscosity.cc
ConstantViscosity.h
DirichletBoundaryConditions.h
DMPExplicitEulerFCTFilter.cc
DMPExplicitEulerFCTFilter.h
DMPLowOrderViscosity.cc
DMPLowOrderViscosity.h
DoFBounds.cc
DoFBounds.h
DomainInvariantDiffusion.cc
DomainInvariantDiffusion.h
DomainInvariantViscosity.cc
DomainInvariantViscosity.h
Entropy.cc
Entropy.h
EntropyViscosity.cc
EntropyViscosity.h
Euler.cc
Euler.h
EulerRiemannSolver.cc
EulerRiemannSolver.h
EulerRunParameters.cc
EulerRunParameters.h
Exceptions.h
ExplicitEulerFCT.cc
ExplicitEulerFCT.h
FCT.cc
FCTFilter.cc
FCTFilter.h
FCT.h
GradientMatrix.cc
GradientMatrix.h
GraphTheoreticDiffusion.cc
GraphTheoreticDiffusion.h
GroupFEValuesBase.cc
GroupFEValuesBase.h
GroupFEValuesCell.cc
GroupFEValuesCell.h
GroupFEValuesFace.cc
GroupFEValuesFace.h
HighOrderViscosity.cc
HighOrderViscosity.h
InterpolatedFluxEntropy.cc
InterpolatedFluxEntropy.h
LaplacianDiffusion.cc
LaplacianDiffusion.h
Limiter.cc
Limiter.h
LinearSolver.cc
LinearSolver.h
LinearTransportFlux.cc
LinearTransportFlux.h
LowOrderViscosity.cc
LowOrderViscosity.h
MaxWaveSpeed.cc
MaxWaveSpeed.h
MultiRegionExactSolution.cc
MultiRegionExactSolution.h
NoDiffusion.cc
NoDiffusion.h
OldFCT.cc
OldFCT.h
PostProcessor.cc
PostProcessor.h
ProblemParameters.cc
ProblemParameters.h
RefinementHandler.cc
RefinementHandler.h
RunParameters.cc
RunParameters.h
ScalarConservationLawFlux.h
ScalarEntropyFluxFEValuesCell.h
ScalarEntropyFluxFEValuesFace.h
ShallowWaterBoundaryConditions.cc
ShallowWaterBoundaryConditions.h
ShallowWater.cc
ShallowWaterEntropy.cc
ShallowWaterEntropyFluxFEValuesCell.h
ShallowWaterEntropyFluxFEValuesFace.h
ShallowWaterEntropy.h
ShallowWaterFCT.cc
ShallowWaterFCT.h
ShallowWater.h
ShallowWaterLowOrderViscosity.cc
ShallowWaterLowOrderViscosity.h
ShallowWaterMaxWaveSpeed.cc
ShallowWaterMaxWaveSpeed.h
ShallowWaterNoBC.cc
ShallowWaterNoBC.h
ShallowWaterPostProcessor.cc
ShallowWaterPostProcessor.h
ShallowWaterProblemParameters.cc
ShallowWaterProblemParameters.h
ShallowWaterRiemannSolver.cc
ShallowWaterRiemannSolver.h
ShallowWaterRunParameters.cc
ShallowWaterRunParameters.h
ShallowWaterStarState.cc
ShallowWaterStarState.h
ShallowWaterSubcriticalOpenBC1D.cc
ShallowWaterSubcriticalOpenBC1D.h
ShallowWaterSubcriticalWallBC1D.cc
ShallowWaterSubcriticalWallBC1D.h
ShallowWaterViscosityMultiplier.cc
ShallowWaterViscosityMultiplier.h
ShallowWaterWallBC.cc
ShallowWaterWallBC.h
SSPRKTimeIntegrator.cc
SSPRKTimeIntegrator.h
StarState.cc
StarState.h
Transport.cc
TransportEntropy.cc
TransportEntropy.h
TransportExplicitEulerFCT.cc
TransportExplicitEulerFCT.h
Transport.h
TransportProblemParameters.cc
TransportProblemParameters.h
TransportRunParameters.cc
TransportRunParameters.h
Viscosity.cc
Viscosity.h
ViscosityMultiplier.cc
ViscosityMultiplier.h
ZalesakLimiter.cc
ZalesakLimiter.h
